@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #383e45;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}
.site-title a {
  display: block;
}
.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}
/*-----------------------------------
スライドショー
-------------------------------------*/
#aspslide{
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
  overflow:hidden;
  padding:0!important;
}

.asnakami{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding:0!important;
}   


#asnakami1{
  -moz-animation: fadeinout 30s 0s infinite both;
  -webkit-animation: fadeinout 30s 0s infinite both;
  -o-animation: fadeinout 30s 0s infinite both;
  animation: fadeinout 30s 0s infinite both;
  z-index:6;
}

#asnakami2{
  -moz-animation: fadeinout 30s 5s infinite both;
  -webkit-animation: fadeinout 30s 5s infinite both;
  -o-animation: fadeinout 30s 5s infinite both;
  animation: fadeinout 30s 5s infinite both;
  z-index:5;
}

#asnakami3{
  -moz-animation: fadeinout 30s 10s infinite both;
  -webkit-animation: fadeinout 30s 10s infinite both;
  -o-animation: fadeinout 30s 10s infinite both;
  animation: fadeinout 30s 10s infinite both;
  z-index:4;
}

#asnakami4{
  -moz-animation: fadeinout 30s 15s infinite both;
  -webkit-animation: fadeinout 30s 15s infinite both;
  -o-animation: fadeinout 30s 15s infinite both;
  animation: fadeinout 30s 15s infinite both;
  z-index:3;
}

@-moz-keyframes fadeinout {
0% { left:0%; opacity:0;}
5% { left:0%;opacity:1; }
20% { left:0%; opacity:1;}
25% { left:0%;opacity:0; }
26% { opacity:0;left:100%; }
99.99% { opacity:0;left:100%; }
100% { opacity:0;left:0%; }
}

@-webkit-keyframes fadeinout {
0% { left:0%; opacity:0;}
5% { left:0%;opacity:1; }
20% { left:0%; opacity:1;}
25% { left:0%;opacity:0; }
26% { opacity:0;left:100%; }
99.99% { opacity:0;left:100%; }
100% { opacity:0;left:0%; }
}

@-o-keyframes fadeinout {
0% { left:0%; opacity:0;}
5% { left:0%;opacity:1; }
20% { left:0%; opacity:1;}
25% { left:0%;opacity:0; }
26% { opacity:0;left:100%; }
99.99% { opacity:0;left:100%; }
100% { opacity:0;left:0%; }
}

@keyframes fadeinout {
0% { left:0%; opacity:0;}
5% { left:0%;opacity:1; }
20% { left:0%; opacity:1;}
25% { left:0%;opacity:0; }
26% { opacity:0;left:100%; }
99.99% { opacity:0;left:100%; }
100% { opacity:0;left:0%; }
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 80px;
}
#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
#about .text {
  text-align: left;
}

/*-------------------------------------------
Bicycle
-------------------------------------------*/
#Soccer ul {
  display: flex;
  justify-content: space-between;
}
#Soccer li {
  width: 32%;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {

  /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
  #mainvisual img {
    height: calc(100vh - 60px);
  }

  /*-------------------------------------------
  About
  -------------------------------------------*/
  #about .content {
    flex-direction: column;
  }
  #about img {
    margin-right: 0;
  }

  /*-------------------------------------------
  Bicycle
  -------------------------------------------*/
  #Soccer ul {
    flex-direction: column;
  }
  #Soccer li {
    width: 100%;
    margin-bottom: 30px;
  }
}
/*----------------------
背景
-------------------------*/
html {
  background-color: #ffffff;
}

.planePath {
  stroke: #6d7070;
  stroke-width: .1%;
  stroke-width: .5%;
  stroke-dasharray: 1% 2%;
  stroke-linecap: round;
  fill: none;
}

.fil1 {
  fill: #D9DADA;
}

.fil2 {
  fill: #C5C6C6;
}

.fil4 {
  fill: #9D9E9E;
}

.fil3 {
  fill: #AEAFB0;
}